<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>playedName</key>
		<string>任二</string>
		<key>playedId</key>
		<string>d11x5_r2</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选二</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选2个号，猜对任意2个开奖号即中奖。 </string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任三</string>
		<key>playedId</key>
		<string>d11x5_r3</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选三</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选3个号，猜对任意3个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任四</string>
		<key>playedId</key>
		<string>d11x5_r4</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选四</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选4个号，猜对任意4个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任五</string>
		<key>playedId</key>
		<string>d11x5_r5</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选五</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选5个号，猜对全部5个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任六</string>
		<key>playedId</key>
		<string>d11x5_r6</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选六</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选6个号，选号包含5个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任七</string>
		<key>playedId</key>
		<string>d11x5_r7</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选七</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选7个号，选号包含5个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任八</string>
		<key>playedId</key>
		<string>d11x5_r8</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选八</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选8个号，选号包含5个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>前一</string>
		<key>playedId</key>
		<string>d11x5_b1</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>前一</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选1个号，猜对第一个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>前二直选</string>
		<key>playedId</key>
		<string>d11x5_b2z</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>万位</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>千位</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>前二直选</string>
		<key>numberCount</key>
		<integer>2</integer>
		<key>playDesc</key>
		<string>每位至少选1个号，按位猜对开奖前2位即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>前二组选</string>
		<key>playedId</key>
		<string>d11x5_b2g</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>前二组选</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选2个号，猜对前2个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>前三直选</string>
		<key>playedId</key>
		<string>d11x5_b3z</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>万位</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>千位</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>百位</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>前三直选</string>
		<key>numberCount</key>
		<integer>3</integer>
		<key>playDesc</key>
		<string>每位至少选1个号，按位猜对开奖前3位即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>前三组选</string>
		<key>playedId</key>
		<string>d11x5_b3g</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>前三组选</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选3个号，猜对前3个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任二</string>
		<key>playedId</key>
		<string>d11x5_r2</string>
		<key>playCategoryName</key>
		<string>任选二</string>
		<key>numberCount</key>
		<integer>2</integer>
		<key>playDesc</key>
		<string>猜对任意2个开奖号即中奖。</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>胆码</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>拖码</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任三</string>
		<key>playedId</key>
		<string>d11x5_r3</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>胆码</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>拖码</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选三</string>
		<key>numberCount</key>
		<integer>2</integer>
		<key>playDesc</key>
		<string>猜对任意3个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任四</string>
		<key>playedId</key>
		<string>d11x5_r4</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>胆码</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>拖码</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选四</string>
		<key>numberCount</key>
		<integer>2</integer>
		<key>playDesc</key>
		<string>猜对任意4个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任五</string>
		<key>playedId</key>
		<string>d11x5_r5</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>胆码</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>拖码</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选五</string>
		<key>numberCount</key>
		<integer>2</integer>
		<key>playDesc</key>
		<string>猜对全部5个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任六</string>
		<key>playedId</key>
		<string>d11x5_r6</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>胆码</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>拖码</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选六</string>
		<key>numberCount</key>
		<integer>2</integer>
		<key>playDesc</key>
		<string>选号包含5个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任七</string>
		<key>playedId</key>
		<string>d11x5_r7</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>胆码</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>拖码</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选七</string>
		<key>numberCount</key>
		<integer>2</integer>
		<key>playDesc</key>
		<string>选号包含5个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>任八</string>
		<key>playedId</key>
		<string>d11x5_r8</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>胆码</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>拖码</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>任选八</string>
		<key>numberCount</key>
		<integer>2</integer>
		<key>playDesc</key>
		<string>选号包含5个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>前二组选</string>
		<key>playedId</key>
		<string>d11x5_b2g</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>胆码</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>拖码</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>前二组选</string>
		<key>numberCount</key>
		<integer>2</integer>
		<key>playDesc</key>
		<string>猜对前2个开奖号即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>前三组选</string>
		<key>playedId</key>
		<string>d11x5_b3g</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>胆码</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>拖码</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>前三组选</string>
		<key>numberCount</key>
		<integer>2</integer>
		<key>playDesc</key>
		<string>猜对前3个开奖号即中奖。</string>
	</dict>
</array>
</plist>
