<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>playedName</key>
		<string>猜冠军</string>
		<key>playedId</key>
		<string>pk10_1</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>冠军</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>猜冠军</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>选号与开奖号码中第1位相同即中奖</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>猜冠亚军</string>
		<key>playedId</key>
		<string>pk10_2</string>
		<key>playCategoryName</key>
		<string>猜冠亚军</string>
		<key>numberCount</key>
		<integer>2</integer>
		<key>playDesc</key>
		<string>选号与开奖号码按位猜对1-2位即中奖</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>冠军</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>亚军</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>playedName</key>
		<string>猜前三名</string>
		<key>playedId</key>
		<string>pk10_3</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>冠军</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>亚军</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>第三名</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>猜前三名</string>
		<key>numberCount</key>
		<integer>3</integer>
		<key>playDesc</key>
		<string>选号与开奖号码按位猜对1-3位即中奖</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>猜前2名</string>
		<key>playedId</key>
		<string>pk10_d2</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>第二名</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>第二名</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>选号与开奖号码按位猜对即中奖</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>猜前3名</string>
		<key>playedId</key>
		<string>pk10_d3</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>第三名</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>第三名</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>选号与开奖号码按位猜对即中奖</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>猜前4名</string>
		<key>playedId</key>
		<string>pk10_d4</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>第四名</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>第四名</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>选号与开奖号码按位猜对即中奖</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>猜前5名</string>
		<key>playedId</key>
		<string>pk10_d5</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>第五名</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>第五名</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>选号与开奖号码按位猜对即中奖</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>猜前6名</string>
		<key>playedId</key>
		<string>pk10_d6</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>第六名</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>第六名</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>选号与开奖号码按位猜对即中奖</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>猜前7名</string>
		<key>playedId</key>
		<string>pk10_d7</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>第七名</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>第七名</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>选号与开奖号码按位猜对即中奖</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>猜前8名</string>
		<key>playedId</key>
		<string>pk10_d8</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>第八名</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>第八名</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>选号与开奖号码按位猜对即中奖</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>猜前9名</string>
		<key>playedId</key>
		<string>pk10_d9</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>第九名</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>第九名</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>选号与开奖号码按位猜对即中奖</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>猜前10名</string>
		<key>playedId</key>
		<string>pk10_d10</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>第十名</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>第十名</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>选号与开奖号码按位猜对即中奖</string>
	</dict>
</array>
</plist>
