<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>playedName</key>
		<string>直选</string>
		<key>playedId</key>
		<string>d3_3z</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>百位</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>十位</string>
			</dict>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>个位</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>极速3D直选</string>
		<key>numberCount</key>
		<integer>3</integer>
		<key>playDesc</key>
		<string>从百、十、个位至少各选1个号码，单注选号与开奖号码按位一致即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>组三</string>
		<key>playedId</key>
		<string>d3_z3</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>极速3D组三复式</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选2个号，猜对开奖号（顺序不限）即中奖。</string>
	</dict>
	<dict>
		<key>playedName</key>
		<string>组六</string>
		<key>playedId</key>
		<string>d3_z6</string>
		<key>numberPanModels</key>
		<array>
			<dict>
				<key>selectStrings</key>
				<string></string>
				<key>numberPanType</key>
				<string>选号</string>
			</dict>
		</array>
		<key>playCategoryName</key>
		<string>极速3D组六</string>
		<key>numberCount</key>
		<integer>1</integer>
		<key>playDesc</key>
		<string>至少选3个号，猜对开奖号（顺序不限）即中奖。</string>
	</dict>
</array>
</plist>
